In [1]:
# import library

import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")
data = pd.read_csv("dataset-training-3label.csv")

In [2]:
data

        no skin-type  umur  masalah            label
0        1    normal    40  jerawat   normal-jerawat
1        2    normal    36  jerawat   normal-jerawat
2        3    normal    21  jerawat   normal-jerawat
3        4    normal    37  jerawat   normal-jerawat
4        5    normal    39  jerawat   normal-jerawat
...    ...       ...   ...      ...              ...
1495  1496  sensitif    43   bopeng  sensitif-bopeng
1496  1497  sensitif    29   bopeng  sensitif-bopeng
1497  1498  sensitif    44   bopeng  sensitif-bopeng
1498  1499  sensitif    31   bopeng  sensitif-bopeng
1499  1500  sensitif    28   bopeng  sensitif-bopeng

[1500 rows x 5 columns]

In [3]:
df = data.drop(["no"], axis=1)
df

     skin-type  umur  masalah            label
0       normal    40  jerawat   normal-jerawat
1       normal    36  jerawat   normal-jerawat
2       normal    21  jerawat   normal-jerawat
3       normal    37  jerawat   normal-jerawat
4       normal    39  jerawat   normal-jerawat
...        ...   ...      ...              ...
1495  sensitif    43   bopeng  sensitif-bopeng
1496  sensitif    29   bopeng  sensitif-bopeng
1497  sensitif    44   bopeng  sensitif-bopeng
1498  sensitif    31   bopeng  sensitif-bopeng
1499  sensitif    28   bopeng  sensitif-bopeng

[1500 rows x 4 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['label'] = le.fit_transform(df['label'])
df['skin-type'] = le.fit_transform(df['skin-type'])
df['masalah'] = le.fit_transform(df['masalah'])

In [5]:
df

      skin-type  umur  masalah  label
0             3    40        1     10
1             3    36        1     10
2             3    21        1     10
3             3    37        1     10
4             3    39        1     10
...         ...   ...      ...    ...
1495          4    43        0     12
1496          4    29        0     12
1497          4    44        0     12
1498          4    31        0     12
1499          4    28        0     12

[1500 rows x 4 columns]